html {
     width: 100%;
   }
   body {

      height:100%;
      margin:0 auto;
      background-color:#b2a4a1;
      color: ;
      font-family: fantasy;
   }
   p {
     text-align: center;
     font-weight: bold;
     font-family:fantaxy;
     font-size: 16px;
     color:#02097A; }

     .photo1box
          {display: flex;
            justify-content: center;
          }
          .center {
            width: 800px;
          }

   header {
       background-color: ;
       padding: ;
       font-size: 24px;
       font-weight: bold;
       display: block;
       text-align: center;
       color:#02097A;
   }
   header img{
     width: 600px;
   }

#div {
  height: 200px;
  width: 50%;
  background-color: powderblue;
}
}

   nav {
       float: ;
   }
   nav ul {
       padding: ;
       float: center;
       border-bottom: ;
       list-style-type: none;
   }
   nav li {
       float: ;
       font-size: 24;
       text-align: center;
   }
   nav li a {
       display: ;
       height: 25px;
       padding: ;
       color: white;
       vertical-align: ;
       text-decoration: none;


   }
   nav li a:hover{
     color:red;
   }
   a {
       color: ;
   }
   section {
       width: auto;
       display: inline-block;
       float: center;
   }
   aside {
       width: 17%;
       display: inline-block;
       background-color:;
       padding:;
       min-height: 100%;
   }
   aside ul {
       list-style-type: none;
   }
   footer {
       width: 790px;
       background-color:;
       color:;
       clear: both;
       display: block;
}
